// Variables
$genieWidth: 400px;
$genieHeight: 400px;
$lampWidth: 100px;
$smallSize: 130px;

// Mixins
@mixin container {
    padding: 2em;
}

@mixin display {
    display: block;
    align-self: center;
    text-align: center;
}

@mixin smallSize {
    width: $smallSize;
    height: $smallSize;
}

@mixin genie {
    @include display;
    width: $genieWidth;
    height: $genieHeight;
    opacity: 0;
    top: 0;
    left: 335px;
}

@mixin lamp {
    @include display;
    position: absolute;
    width: $lampWidth;
    top: 325px;
}

// Styles
.container {
    @include container();
}

#logo {
    @include smallSize();
}

#genie {
    @include genie();
}

#lamp {
    @include lamp();
}

#animationText {
    text-align: center;
}