h1 {
  text-align: center;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 150px;
  height: auto;
}

p.Introduction {
  text-align: center;
  font-size:6rem;
  font-weight: 800;
}

a.btn.btn-light {
  margin-top: 3% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  background-color: #25a1ea;
  border: 1px solid #25a1ea;
}

a.btn.btn-dark {
  margin-top: 3% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  background-color: #0c3f5c;
}

a.btn.btn-dark:hover, a.btn.btn-light:hover {
  background-color: #ecce32;
  border: 1px solid #ecce32;
  transform: scale(1.05);
}

div.login.mb-2{
  font-size: 24px;
  font-family: 'Lobster Two', cursive;
  margin-top: 4.5rem!important;
  margin-bottom: -4.5rem!important;
  margin: auto;
  width: 50%;
  padding: 10px;
}

div.loginButtons{
  margin-top: 4.5rem!important;
  margin-bottom: -4.5rem!important;
  margin: auto;
  width: 50%;
  padding: 10px;
}

div.loginHeader{
  font-family: 'Lobster Two', cursive;
  margin: auto;
  width: 50%;
  font-size: 45px;
  text-align: center;
  padding: 10px;
}

p#animationText{
  font-size: 20px;
  font-family: 'Lobster Two', cursive;
}

div.alert.alert-danger{
  margin-top: 4.5rem!important;
  margin-bottom: -4.5rem!important;
  margin: auto;
  width: 50%;
  padding: 10px;
}

input{
  font-family: Arial, Helvetica, sans-serif;
}


/* body{
  background-image: linear-gradient(to right, white,rgb(238, 203, 45));
} */
